body:has(.nav-open){
    @media screen and (max-width: 1024px) {
        overflow: hidden;
    }   
}

.vertical-timeline-element-content p {
    word-spacing: 2px;
    letter-spacing: 1px; 
}

.vertical-timeline::before {
 
}

.retro-text {
font-family: 'Press Start 2P', cursive;
}

.typewriter-text {
font-family: 'VT323', monospace;
}

.orbitron {
font-family: 'Orbitron', sans-serif;
}

.silkscreen {
    font-family: 'Silkscreen', cursive;
  }

  .terminal {
    font-family: 'Share Tech Mono', monospace;
  }

  .mono-display {
    font-family: 'Major Mono Display', monospace;
  }

  .audiowide {
    font-family: 'Audiowide', cursive;
  }


  