body:has(.nav-open){
    @media screen and (max-width: 1024px) {
        overflow: hidden;
    }   
}

.vertical-timeline-element-content p {
    word-spacing: 2px;
    letter-spacing: 1px; 
}

.vertical-timeline::before {
 
}
